<footer class="site-footer">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <br/>
            <p >Kiali maintained by <a href="http://github.com/kiali">kiali</a></p>
        </div>
        <div class="col-md-3">
            <ul class="social">
                <li>
                    <a href="https://github.com/kiali/" target="_blank"><span class="fa fa-github-square"></span></a>
                </li>
                <li>
                    <a href="https://twitter.com/KialiProject" target="_blank"><span class="fa fa-twitter-square"></span></a>
                </li>
                <li>
                    <a href="irc://irc.freenode.net/#kiali" target="_blank" ><span class="fa fa-comment"></span></a>
                </li>
                <li>
                    <a href="https://groups.google.com/forum/#!forum/kiali-dev" target="_blank"><span class="fa fa-envelope"></span></a>
                </li>
                <li>
                    <a href="https://groups.google.com/forum/#!forum/kiali-users" target="_blank"><span class="fa fa-envelope"></span></a>
                </li>
            </ul>
        </div>
    </div>
</footer>