<header>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".navbar-sidebar").toggleClass("close");
            $(".navbar-toggle").click(function(){
                $(".navbar-sidebar").toggleClass("open");
            })
        });
    </script>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  title="KIALI | Service Mesh Observability" href="/" >KIALI | Service Mesh Observability</a>
            </div>
            <div class="navbar-collapse navbar-collapse-pf-site collapse">
                {% include navigation.html %}
            </div>
        </div>
        {% if page.url contains '/api/' %}
            {% include apiheader.html %}
        {% endif %}
    </nav>
    <nav class="navbar navbar-sidebar navbar-primary">
        <ul>
        <li class="primary-menu ">
            <a href="/">Menu</a>
            <ul>
                {% for item in site.data.navigation %}
                <li {% if item.link == page.url %}class="active"{% endif %}>
                    {% if item.link contains '/api/' %}
                        <a role="button" data-toggle="collapse"
                           {% if page.url contains '/api/' %}
                             aria-expanded="true"
                           {% else %}
                             class="collapsed"
                             aria-expanded="false"
                           {% endif %}
                           href="#api-menu-secondary" aria-controls="api-menu-secondary">
                            {{ item.name }}
                        </a>
                        <ul id="api-menu-secondary"
                            {% if page.url contains '/api/' %}
                               class="collapse in"
                               aria-expanded="true"
                            {% else %}
                               class="collapse"
                               aria-expanded="false"
                            {% endif %}
                        >
                            {% for item in site.data.api-navigation %}
                            <li>
                                <a
                                        href="{{site.url}}{{ item.link }}"
                                >
                                    {{ item.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}

                    <a
                            {% if item.blank %}
                            href="{{ item.link }}" target="_blank"
                            {% elsif item.link == "/" %}
                    href="{{site.url}}"
                    {% else %}
                    href="{{site.url}}{{ item.link }}"
                    {% endif %}
                    {% if item.highlight %}style="font-weight: bold"{% endif %}
                    >
                    {{ item.name }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
        </ul>
    </nav>
</header>
