<ul id="menu-primary" class="nav navbar-nav navbar-right">
    {% for item in site.data.navigation %}
    <li {% if item.link == page.url %}class="active"{% endif %}>
        <a
           {% if item.blank %}
             href="{{ item.link }}" target="_blank"
           {% elsif item.link == "/" %}
             href="{{site.url}}"
           {% else %}
             href="{{site.url}}{{ item.link }}"
           {% endif %}
           {% if item.highlight %}style="font-weight: bold"{% endif %}
        >
            {{ item.name }}
        </a>
    </li>
    {% endfor %}
</ul>