<!DOCTYPE html>

<html lang="en">

{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 clearfix">
            <article class="post">
                <section class="post_content">
                    <div class="pattern-status-wrapper">
                        <header class="page-tabs-header">
                            <h2>Kiali provides answers to the question "What are the microservices in my Istio service mesh doing?"</h2>
                        </header>
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/8HZlDGURzLc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    {{ content }}
                    </div>
                </section>
            </article>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
